[data-plugin="prom-alerts-table"] {
  table {
    position: relative;
  }

  th {
    &:last-child {
      display: none;
    }

    a {
      color: $primary;
    }
  }

  tr {
    position: relative;

    td:last-child {
      width: 20px;
      max-width: 20px;
      overflow: hidden;
      vertical-align: top;

      &:hover {
        width: auto;
        max-width: none;
        position: absolute;
        right: 0;
        background-color: $secondary;
      }
    }
  }

  td:nth-child(2) > .discourse-local-date:nth-child(2) {
    .d-icon {
      display: none;
    }
  }
}
