[data-plugin="prom-alerts-table"] {
  th {
    &:last-child {
      display: none;
    }

    a {
      color: $primary;
    }
  }

  tr {
    position: relative;

    td:last-child {
      position: absolute;
      display: none;
    }

    &:hover {
      td:last-child {
        display: table-cell;
      }
    }
  }
}
