#post_1 .contents {
  display: flex;
  flex-direction: column;

  & > * {
    order: 3;
  }
  & > .cooked {
    order: 1;
  }
  & > .prometheus-alert-receiver {
    order: 2;
  }
}

.prometheus-alert-receiver {
  padding: 0 $topic-body-width-padding;

  & > h2 {
    margin: 1em 0 0.5em;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .alert-receiver-collapse-toggle {
    cursor: pointer;
  }

  table {
    position: relative;
  }

  thead {
    th {
      text-align: left;
      padding-bottom: 2px;
      font-weight: bold;
      color: var(--primary);
    }
  }

  td {
    padding: 3px 3px 3px 0.5em;
  }

  th {
    a {
      color: var(--primary, $primary);
    }
  }

  tr {
    position: relative;

    td:last-child {
      white-space: nowrap;
    }
  }

  td:nth-child(2) .alert-receiver-date:nth-child(2) {
    .d-icon {
      display: none;
    }
  }
}
